/* -----------------------------------
    All fonts and common style section 
-------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
header,
main,
footer {
  display: flex;
  justify-content: center;
}

/* -----------------------------------
    Header style section 
--------------------------------------*/

.header-container {
  width: 1440px;
  height: 677px;
  background-color: #2d25a0;
  display: flex;
  justify-content: space-around;
}
.header-title {
  padding-top: 200px;
  padding-left: 100px;
}
.header-title h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 125%;
  color: #ffffff;
  margin: 0;
}
.button {
  width: 144px;
  height: 24px;
  margin-top: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  background-color: #e02c6d;
}
.anchor {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.fa-arrow-right.arrow {
  margin-left: 10px;
}
.header-banner {
  padding-top: 140px;
  padding-right: 70px;
}
.header-banner img {
  width: 556px;
  height: 440px;
}
.header-container:hover .header-banner {
  transform: scale(1.2) rotate(15deg);
  transition: transform 1s ease-in;
}

/* -----------------------------------
    Players style section 
--------------------------------------*/

.players {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-gap: 27px 30px;
  margin-top: 70px;
  margin-bottom: 135px;
}
.player {
  padding: 15px;
  box-shadow: 3px 3px 30px rgb(218, 215, 215);
}
.player-image img {
  width: 300px;
  height: 256px;
}
.player-info h3 {
  font-weight: 700;
  font-size: 28px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 10px;
}
.player-info p {
  font-size: 16px;
  color: #6c6c6c;
  margin: 0;
  padding-bottom: 33px;
}
/* .player:hover {
  transform: scale(1.05);
  transition: transform 1s;
} */

/* -----------------------------------
    Media & social network section 
--------------------------------------*/

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1380px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 20px rgb(192, 189, 189);
}
.adidas img,
.emirates img {
  width: 120px;
  height: 70px;
}
.adidas,
.emirates {
  margin: 30px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 480px;
  height: 110px;
}
.social {
  display: flex;
}
.footer-container p {
  font-size: 18px;
  color: #000000;
}
.social .icons {
  width: 32px;
  height: 28px;
  border-radius: 16px;
  background-color: rgb(230, 224, 224);
  text-align: center;
  margin-left: 15px;
  padding-top: 4px;
}
.social .icon {
  color: #969bab;
}

/* -----------------------------------
    Media query section 
--------------------------------------*/

/* Mobile devices only */

@media only screen and (max-width: 688px) {
  .header-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .header-title {
    padding: 30px;
  }
  .header-banner img {
    width: 100%;
    height: 100%;
  }
  .header-container:hover .header-banner {
    transform: scale(1);
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
  }
  .media-container {
    display: flex;
    flex-direction: column;
  }
  .logo img {
    width: 80%;
    height: 80%;
  }
}

/* Tablet devices only*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .header-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .header-banner img {
    width: 100%;
    height: 100%;
  }
  .header-container:hover .header-banner {
    transform: scale(1);
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}
